<!DOCTYPE html>
<html>
  <head>
    <title>Movies App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light my-2">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Movie Review</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">News</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      {% for news in newss %}
      <div class="card mb-3">
        <div class="row g-0">
          <div>
            <div class="card-body">
              <h5 class="card-title">{{ news.headline }}</h5>
              <p class="card-text">{{ news.body }}</p>
              <p class="card-text"><small class="text-muted">
                {{ news.date }}
              </small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>